* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #252734;
  color: #858792;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

/* Home */
#home {
  display: flex;
}

.home-container {
  height: 600px;
  padding: 4em 6em 0;
  flex: 1;
  position: relative;
}

#home h1 {
  font-size: 60px;
  font-weight: 500;
  color: #fff;
}

#home h1 span {
  margin-top: 0.15em;
  font-size: 80px;
  font-weight: 550;
  display: inline-block;
}

#home p {
  font-size: 1.5em;
  margin-top: 60px;
}

#home p span {
  margin-top: 4px;
  display: inline-block;
}

#home a {
  border: 1px solid #858792;
  border-radius: 50px;
  font-size: 1.6em;
  margin: 50px;
  padding: 30px 50px;
  color: #fff;
  letter-spacing: 1px;
  position: absolute;
  bottom: 0;
  transition: all 0.3s ease-in-out, color 0.2s 0.3s;
}

#home a:hover {
  background-color: #858792;
  color: #111;
}

.home-picture {
  flex: 1;
  display: grid;
  place-items: center;
}

.home-picture img {
  border-radius: 50%;
  object-fit: contain;
  max-width: 25em;
}

/* Experience Styling */
#experience {
  font-family: Arial, Helvetica, sans-serif;
  margin: 40px 0;
  padding: 30px;
  background-color: #2a2c39;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#experience h2 {
  font-size: 50px;
  margin: 30px 30px 60px;
  color: #fff;
}

#experience .row {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.column {
  padding: 50px 100px;
  background-color: #252734;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.column-title {
  font-size: 25px;
  margin-bottom: 30px;
  color: #fff;
}

.column-title i {
  margin-bottom: 20px;
  display: inline-block;
}

.column ul {
  list-style-type: disc;
}

.column ul li {
  margin: 10px 0;
  font-size: 1.2em;
  line-height: 1.6;
}

/* Contact Footer styling */

#contact-footer {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.contact-footer-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#contact-footer .email-link {
  border: 1px solid #858792;
  border-radius: 50px;
  font-size: 1.6em;
  padding: 30px 50px;
  color: #fff;
  letter-spacing: 1px;
  transition: all 0.3s ease-in-out, color 0.2s 0.3s;
}

#contact-footer .email-link:hover {
  background-color: #858792;
  color: #111;
}

#contact-footer .phone,
.email {
  font-size: 1.1em;
  margin: 15px 5px;
}

.contact-footer-icons {
  margin: 15px;
  position: absolute;
  bottom: 0;
}

.contact-footer-icons i {
  margin: 0 10px;
}
